.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -------------------MainPage--------------------- */

.mainpage {
  display: flex;
  flex-direction: row;
  background-color: rgb(145, 58, 116);
}
.mainpage-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100vw;
}

.sidemenu {
  position: fixed;
  height: 100%;
  width: 120px;
  background-color: rgb(41, 41, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.sidemenu-button {
  border: none;
  box-shadow: none;
  font-size: 18px;
  width: 100px;
  height: 50px;
  color: white;
  background-color: transparent;
}

.sidemenu-button:active, .sidemenu-button:focus {
  border: none;
  box-shadow: none;
}

.logo-title {
  display: flex;
  align-self: flex-start;
  margin-top: 15px;
}

.logo {
  display: flex;
  align-self: flex-start;
  height: 60px;
}

.side-titles {
  height: 50vh;
  position: fixed;
  display: flex;
  color: white;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}



.list {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}



.topmenu {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 100vw;
  height: 80px;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.topmenu-title {
  font-size: 28px;
  margin-left: 140px;
}

.topmenu-button {
  align-self: center;
  margin-right: 30px;
  border: none;
  box-shadow: none;
  width: 100px;
  height: 36px;
  border-radius: 12px;
  font-size: 15px;
  background-color: #FFC700;
}





.videos-blur {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 100px;
  margin-right: 100px;
  width: 80%;
  height: 50px;
}




.video-blur {
  display: flex;
  /* width: 30%; */
  width: 25%;
  height: 70vh;
  margin: 10px;
  object-fit: cover;
  border-radius: 1.8vh;
  filter: blur(10px)
}



.card {
  display: flex;
  /* width: 30%; */
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

#stamped-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100vw - 150px;
  height: 100vh;
}





#myprofile-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 120px);
  height: 100vh;
  margin-left: 120px;
}
















