.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -------------------MainPage--------------------- */

.mainpage {
  display: flex;
  flex-direction: row;
  background-color: rgb(145, 58, 116);
}
.mainpage-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100vw;
}

.sidemenu {
  position: fixed;
  height: 100%;
  width: 150px;
  background-color: rgb(41, 41, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.logo-title {
  display: flex;
  align-self: flex-start;
  margin-top: 15px;
}

.logo {
  display: flex;
  align-self: flex-start;
  height: 85px;
}

.side-titles {
  height: 50vh;
  position: fixed;
  display: flex;
  color: white;
  font-size: 26px;
  font-weight: 100;
  text-align: center;
}



.list {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.topmenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 115px;
  align-items: center;
  position: fixed;
}

.topmenu-title {
  font-size: 32px;
  margin-left: 60px;
}

.topmenu-button {
  width: 120px;
  height: 44px;
  border-radius: 12px;
  font-size: 18px;
}

.topmenu-list {
  display: flex;
  width: 100vw;
  justify-content: flex-end;
  margin-top: 230px;
  position: fixed;
}

.topmenu-subbuttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 170px;
  background-color: #282c34;
  border-radius: 12px;
}

.subbutton {
  width: 100px;
  height: 35px;
  border-radius: 8px;
}

.main-ment {
  width: 500px;
  margin-left: 210px;
}

.ment-title {
  font-size: 48px;
  margin-bottom: 20px;
}

.ment-description {
  font-size: 20px;
  line-height: 40px;
}

.videos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-right: 20px;
}

.videos-blur {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 100px;
  margin-right: 100px;
  width: 80%;
  height: 50px;
}


.video {
  display: flex;
  /* width: 30%; */
  width: 30%;
  height: 70vh;
  margin: 10px;
  object-fit: cover;
  border-radius: 1.8vh;
}

.video-blur {
  display: flex;
  /* width: 30%; */
  width: 25%;
  height: 70vh;
  margin: 10px;
  object-fit: cover;
  border-radius: 1.8vh;
  filter: blur(10px)
}

.cards-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100vw - 150px;
  height: 100vh;
}

.cards-ment {
  margin-left: 60px;
}

.cards-list-row {
  display: flex;
  height: 40vh;
  margin: 20px;
}

.card {
  display: flex;
  /* width: 30%; */
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 30px;
}

.stamped-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100vw - 150px;
  height: 100vh;
}