.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -------------------MainPage--------------------- */

.mainpage {
  display: flex;
  flex-direction: row;
  background-color: rgb(145, 58, 116);
}
.mainpage-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100vw;
}

.sidemenu {
  position: fixed;
  height: 100%;
  width: 120px;
  background-color: rgb(41, 41, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.sidemenu-button {
  border: none;
  box-shadow: none;
  font-size: 18px;
  width: 100px;
  height: 50px;
  color: white;
  background-color: transparent;
}

.sidemenu-button:active, .sidemenu-button:focus {
  border: none;
  box-shadow: none;
}

.logo-title {
  display: flex;
  align-self: flex-start;
  margin-top: 15px;
}

.logo {
  display: flex;
  align-self: flex-start;
  height: 60px;
}

.side-titles {
  height: 50vh;
  position: fixed;
  display: flex;
  color: white;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}



.list {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.topmenu {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 100vw;
  height: 80px;
  align-items: center;
  position: fixed;
}

.topmenu-title {
  font-size: 28px;
  margin-left: 140px;
}

.topmenu-button {
  align-self: center;
  margin-right: 30px;
  border: none;
  box-shadow: none;
  width: 100px;
  height: 36px;
  border-radius: 12px;
  font-size: 15px;
  background-color: #FFC700;
}

.main-ment {
  width: 500px;
  margin-left: 180px;
}

.ment-title {
  font-size: 48px;
  margin-bottom: 20px;
}

.ment-description {
  font-size: 16px;
  line-height: 32px;
}

.videos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-right: 20px;
}

.videos-blur {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 100px;
  margin-right: 100px;
  width: 80%;
  height: 50px;
}


.video {
  display: flex;
  /* width: 30%; */
  width: 30%;
  height: 70vh;
  margin: 10px;
  object-fit: cover;
  border-radius: 1.8vh;

}

.video-blur {
  display: flex;
  /* width: 30%; */
  width: 25%;
  height: 70vh;
  margin: 10px;
  object-fit: cover;
  border-radius: 1.8vh;
  filter: blur(10px)
}

.cards-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100vw - 150px;
  height: 100vh;
}

.cards-ment {
  margin-left: 180px;
}

.cards-list-row {
  display: flex;
  height: 40vh;
  margin: 20px;
}

.card {
  display: flex;
  /* width: 30%; */
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}


.search-bar {
  align-self: center;
  position: relative;
  width: 30vw;
}

.search-input {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

.search-icon {
  position : absolute;
  width: 17px;
  top: 10px;
  right: 0px;
  margin: 0px;
}

.stamped-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100vw - 150px;
  height: 100vh;
}

.modal {
  position: relative;
  width: 70vw;
  height: 60vh;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px 20px 20px 20px;
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s;

}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@-moz-keyframes fadein { 
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@-webkit-keyframes fadein { 
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.modal-container {
  width: 70vw;
  height: 60vh;
  display: flex;
  border-radius: 20px 20px 20px 20px;
  border: solid black;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 20vw;
  top: 20vh;
}

.modal-title {
  position: relative;
  left: 1vw;
}

.btn-clear-btn {
  margin: auto;
  align-self: center;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  border: none;
  background-color: yellow;
}

.userInfo-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  background: none;
  left: 1vw;
  top: 20vh;
  border: none;
}

.card-tag  {
  position: absolute;
  align-self: center;
  display: flex;
  justify-content: center;
  left: 1vw;
  top: 12vh;
}

.btn-confirm-btn {
  position: absolute;
  align-self: center;
  display: flex;
  justify-content: center;
  background-color: rgb(251, 255, 0);
  border-radius: 5px 5px 5px 5px;
  border: none;
  width: 6vw;
  height: 2.5vh;
  left: 1vw;
  top: 55vh;
}

.btn-cancel-btn {
  position: absolute;
  align-self: center;
  display: flex;
  border: none;
  width: 20px;
  height: 20px;
  top: 1vh;
  right: 1vw;
  background: none;
}

.card-img {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgb(148, 148, 148);
  border-radius: 10px 10px 10px 10px;
  border: none;
  width: 15vw;
  height: 40vh;
  right: 1vw;
  top: 7vh;
}

.card-info {
  position: absolute;
  width: 30px;
  height: 20px;
  left: 1vw;
  top: 25vh;
}

.card-info-text {
  position: absolute;
  background-color: rgb(209, 208, 208);
  border-radius: 10px 10px 10px 10px;
  border: none;
  display: flex;
  position: absolute;
  width: 50vw;
  height: 23vh;
  left: 1vw;
  top: 30vh;
}